body {
    padding: 10px;

}
img{
    width:250px;
    height:350px;
    object-fit: cover;
    border-radius: 7px;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    margin-bottom: 20px;
    border: none;
}