{% extends "auctions/layout.html" %}

{% block title %}Categories {% endblock %}

{% block body %}
{% if messages %}
{% for message in messages %}
        <div class="alert  alert-dismissible fade show {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} center-block" role="alert">
            <p class="text-center">
            <strong>{{ message }}</strong>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
{% endfor %}
{% endif %}
    <h2 class="heading">categories</h2>
    <br>
    <div class="container pb-4">
        <div class="row justify-content-center text-center">
            {% for category in categories %}
                <div class="col-lg-3 col-sm-4 border rounded mx-4 my-2 p-2 py-auto py-lg-4 btn-light">
                    <a class="category stretched-link text-decoration-none text-dark" href="{% url 'view_category' category %}">{{ category|title }}</a>
                </div>
            {% empty %}
                No categories found.
            {% endfor %}
        </div>
    </div>

{% endblock %}




