{% extends "auctions/layout.html" %}



{% block title %}
Create
{% endblock %}

{% block body %}
   
{% if messages %}
{% for message in messages %}
        <div class="alert  alert-dismissible fade show {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} center-block" role="alert">
            <p class="text-center">
            <strong>{{ message }}</strong>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
{% endfor %}
{% endif %}



<h2 class="heading">Post Your Listing </h2>
<div class="container">
  <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-8 col-lg-6 pt-3">
          <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">

              {% csrf_token %}

              {% for field in form %}
                        
          
                {% if field.name != 'starting_bid' %}
                    <div class="form-group">
                    {{field.label_tag}} {{field}}
                    </div>
          
                {% else %}
                    {{ field.label_tag }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">$</span>
                        </div>
                        {{ field }}
                    </div>
                {% endif %}
    
    
              {% endfor%}
              <div class="d-grid gap-2 col-6 mx-auto">
                  <input type="Submit"  class="btn btn-primary" value="Create">
              </div>  

          </form>
       </div>
  </div>
</div>
{% endblock %}