{% extends "auctions/layout.html" %}

{% block title %}Listings {% endblock %}

{% block body %}


{% if messages %}
    {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} center-block" role="alert">
                <p class="text-center">
                <strong>{{ message }}</strong>
                </p>
            </div>
    {% endfor %}
{% endif %}

    
    <h2 class="heading">Active Listings</h2>
<br>
<div class="flex">
    {% for listing in listings %}
    <div class="card" style="border-radius: 10px;" onclick="location.href='{% url 'listing' listing.id %}' ">
        <img src="{{listing.Url}}"  class="card-img-top card-img " style="border-radius: 20px;" alt="{{listing.Title}}">
        <div class="card-body">
          <h3 class="card-title">{{listing.Title|title}}</h3>
          <p class="card-text">Amount: <strong>${{listing.starting_bid}} </strong></p>
        </div>
        <ul class="list-group list-group-flush"> 
          <li class="list-group-item" >{{listing.Description}}.</li>
          
        </ul>
        <div class="card-body" style="border-top:1px solid dashed;" >
          <p style="border: 0;">Posted on {{listing.date_time|date}}</p>
        </div>
      </div>
    {% empty %}
    <p class="empty"> No Listings Availiable right Now, want to add one? <a href="{% url 'create' %}">Create listing</a></p>
    {% endfor %}
</div>

{% endblock %}





  <div class="layout">
    {% for listing in listings %}
    <div class=" listing" onclick="location.href='{% url 'listing' listing.id %}' ">
        <div class="column">
                <div class=".row-5">
                    <h3>{{listing.Title|title}}</h3>
                </div>
                <br>
                <div class="row-4">
                    <img src="{{listing.Url}}" alt="{{listing.Title}}">
                </div>
                <div class="row-6">
                    <p>{{listing.Description}}</p>
                     <h4>Amount:${{listing.starting_bid}}</h4>
                     <p>Listed By: <strong>{{listing.author}}</strong> at {{listing.date_time}}</p>
                </div>
        </div>

    </div>
    {% empty %}
    <p class="empty"> No Listings Availiable right Now, want to add one? <a href="{% url 'create' %}">Create listing</a></p>
    {% endfor %}
</div>





<div class="row row-cols-1 row-cols-md-3 g-3" >
    {% for listing in listings %}
        <div class="col" onclick="location.href='{% url 'listing' listing.id %}' ">
          <div class="card ">
            <img src="{{listing.Url}}"  class="card-img-top" alt="{{listing.Title}}">
            <div class="card-body">
              <h5 class="card-title">{{listing.Title|title}}</h5>
              <p class="card-text">{{listing.Description}}</p>
            </div>
          </div>
        </div>
        {% empty %}
      <p class="empty"> No Listings Availiable right Now, want to add one? <a href="{% url 'create' %}">Create listing</a></p>
      {% endfor %}
      </div>











      {% for listing in listings %}
      <div class="card mb-3 " style="max-width: 540px;">
          
          <div class="row g-6 ">
          
            <div class="col-md-4">
              <img src="{{listing.Url}}"  class="img-fluid rounded-start"  alt="{{listing.Title}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{listing.Title|title}}</h5>
                <p class="card-text">{{listing.Description}}</p>
                <p class="card-text"><small class="text-muted">Listed By: <strong>{{listing.author}}</strong> at {{listing.date_time}}</small></p>
              </div>
            </div>
          
         
          </div>
        </div>
        {% empty %}
        <p class="empty"> No Listings Availiable right Now, want to add one? <a href="{% url 'create' %}">Create listing</a></p>
        {% endfor %}